appdirs==1.4.3
asgiref==1.0.0
async-timeout==2.0.1
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
boto3==1.7.19
botocore==1.10.19
bz2file==0.98
channels==1.0.3
constantly==15.1.0
daphne==1.0.3
decorator==4.3.0
Django==2.0
docutils==0.14
enum34==1.1.6
fuzzywuzzy==0.16.0
gensim==3.4.0
html5lib==0.9999999
hyperlink==18.0.0
idna==2.6
incremental==16.10.1
ipdb==0.11
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
jmespath==0.9.3
jupyter-client==5.2.3
jupyter-core==4.4.0
lxml==4.2.1
Markdown==2.6.11
nltk==3.3
numpy==1.14.3
oauthlib==2.0.1
packaging==16.8
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-Levenshtein==0.12.0
pytz==2018.4
pyzmq==17.0.0
requests==2.13.0
requests-oauthlib==0.8.0
s3transfer==0.1.13
scipy==1.1.0
simplegeneric==0.8.1
six==1.10.0
smart-open==1.5.7
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
tornado==5.0.2
traitlets==4.3.2
Twisted==17.1.0
txaio==2.6.1
typing==3.5.3.0
wcwidth==0.1.7
Werkzeug==0.14.1
zope.interface==4.3.3
